.wrapper {
  display: flex;
  align-items: center;
  height: 40px;
  border: 1px solid var(--color-neutral-300);

  & input {
    flex-grow: 1;
    width: 100%;
    min-width: 0;
    height: 100%;
    padding: 0 12px;
    font-size: var(--font-sm);
    color: var(--color-foreground);
    background: transparent;
    border: none;
    outline: none;
  }

  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1/1;
    font-size: var(--font-md);
    color: var(--color-foreground);
    cursor: pointer;
    background: var(--color-neutral-100);
    border: none;
    border-left: 1px solid var(--color-neutral-300);
    outline: none;
  }
}
