.wrapper {
  padding: 12px;
}

.range {
  width: 100%;
  min-width: 0;

  /********** Range Input Styles **********/

  /* Range Reset */
  appearance: none;
  cursor: pointer;
  background: transparent;

  /* Removes default focus */
  &:focus {
    outline: none;
  }

  &:disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
  }

  /***** Chrome, Safari, Opera and Edge Chromium styles *****/

  &::-webkit-slider-runnable-track {
    height: 0.5rem;
    background-color: #27272a;
    border-radius: 0.5rem;
  }

  &::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    margin-top: -3px;
    appearance: none;
    background-color: #3f3f46;
    border: 1px solid #52525b;
    border-radius: 50%;
  }

  &:not(:disabled):focus::-webkit-slider-thumb {
    border: 1px solid #053a5f;
    outline: 3px solid #053a5f;
    outline-offset: 0.125rem;
  }

  /******** Firefox styles ********/

  &::-moz-range-track {
    height: 0.5rem;
    background-color: #27272a;
    border-radius: 0.5rem;
  }

  &::-moz-range-thumb {
    width: 14px;
    height: 14px;
    margin-top: -3px;
    background-color: #3f3f46;
    border: none;
    border: 1px solid #52525b;
    border-radius: 0;
    border-radius: 50%;
  }

  &:not(:disabled):focus::-moz-range-thumb {
    border: 1px solid #053a5f;
    outline: 3px solid #053a5f;
    outline-offset: 0.125rem;
  }
}

.sound {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  background: var(--color-neutral-50);
  border: 0.5px solid var(--color-neutral-200);
  border-radius: 0;
  transition: 0.2s;

  &:focus-visible {
    outline: 2px solid var(--color-neutral-400);
    outline-offset: 2px;
  }

  & .details {
    display: flex;
    align-items: center;
    width: 100%;
    height: 44px;
  }

  & .icon {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1/1;
    font-size: var(--font-base);
    color: var(--color-foreground-subtler);
    border: 1px solid var(--color-neutral-200);
    border-top: none;
    border-left: none;
    transition: 0.2s;

    & span {
      line-height: 0;
    }

    & .spinner {
      line-height: 0;
      animation-name: spinner;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }

  & .rangeWrapper {
    width: 100%;
    padding: 16px 12px 12px;
  }

  &:hover .icon,
  &:focus-visible .icon {
    color: var(--color-foreground-subtle);
  }

  &.selected {
    & .icon {
      color: var(--color-foreground);
      background: var(--color-accent);
    }

    & .label {
      color: var(--color-foreground);
    }
  }

  & .label {
    display: flex;
    flex-grow: 1;
    align-items: center;
    height: 100%;
    padding: 0 12px;
    font-size: var(--font-xsm);
    font-weight: 500;
    line-height: 1.6;
    color: var(--color-foreground-subtle);
    background: linear-gradient(
      90deg,
      var(--color-neutral-100),
      var(--color-neutral-50),
      var(--color-neutral-50)
    );
    border-bottom: 1px solid var(--color-neutral-200);
    transition: 0.2s;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.sounds {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  gap: 0;
  justify-content: start;
  margin-top: 16px;
  background-color: var(--color-neutral-50);
  background-image: repeating-linear-gradient(
    45deg,
    var(--color-neutral-100) 0,
    var(--color-neutral-100) 0.5px,
    var(--color-neutral-50) 0,
    var(--color-neutral-50) 50%
  );
  background-size: 10px 10px;
  border: 0.5px solid var(--color-neutral-200);
}

.categories {
  & .category {
    &:not(:last-of-type) {
      margin-bottom: 44px;
    }

    & .categoryTitle {
      font-family: var(--font-display);
      font-size: var(--font-lg);
      font-weight: 400;
    }
  }
}

.controls {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  margin-bottom: 28px;
  background-color: rgb(9 9 11 / 70%);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid var(--color-neutral-200);

  & .items {
    display: flex;
    align-items: center;
    height: 100%;

    & button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      aspect-ratio: 1/1;
      font-size: var(--font-lg);
      color: var(--color-foreground);
      cursor: pointer;
      background: transparent;
      border: none;
      border-right: 1px solid var(--color-neutral-200);
      border-radius: 0;
      transition: 0.2s;

      &:disabled {
        cursor: not-allowed;
        opacity: 0.4;
      }

      &.trash {
        font-size: var(--font-md);
      }
    }
  }

  & .globalVolume {
    flex-grow: 1;
    padding: 0 12px;

    & input {
      display: block;
      width: 100%;
      min-width: 0;
      accent-color: var(--color-accent);
    }
  }
}
