.window {
  display: flex !important;
  flex-direction: column;
  background-color: var(--color-neutral-50);
  background-image: repeating-linear-gradient(
    45deg,
    var(--color-neutral-100) 0,
    var(--color-neutral-100) 1px,
    var(--color-neutral-50) 0,
    var(--color-neutral-50) 50%
  );
  background-size: 10px 10px;
  border: 1px solid var(--color-neutral-300);

  &.hidden {
    display: none !important;
  }

  & .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    min-height: 40px;
    cursor: move;
    background-color: var(--color-neutral-50);
    border-bottom: 1px solid var(--color-neutral-300);

    & .handler {
      flex-grow: 1;
      height: 100%;

      & h3 {
        padding: 0 12px;
        font-size: var(--font-sm);
        font-weight: 500;
      }
    }

    & div {
      display: flex;
      align-items: center;
      height: 100%;

      & button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        aspect-ratio: 1/1;
        font-size: var(--font-lg);
        color: var(--color-foreground);
        cursor: pointer;
        background: var(--color-neutral-50);
        border: none;
        border-left: 1px solid var(--color-neutral-300);
        border-radius: 0;

        &.primary {
          background: var(--color-neutral-100);
        }

        &.fullscreen {
          font-size: var(--font-base);
        }
      }
    }
  }

  & .scroll {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;

    & .content {
      flex-grow: 1;
      height: auto;
      background-color: var(--color-neutral-50);

      &.contained {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        border: 1px solid var(--color-neutral-100);
        border-top: none;
        border-bottom: none;
      }
    }
  }
}
