.settings {
  & h2 {
    margin-bottom: 24px;
    font-weight: 500;
  }

  & .form {
    & .alarmVolume {
      & label {
        display: block;
        margin-bottom: 8px;
        font-size: var(--font-sm);
        font-weight: 500;
      }

      & input[type='range'] {
        width: 100%;
        min-width: 0;
      }
    }

    & .buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 24px;

      & button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        padding: 0 20px;
        font-size: var(--font-sm);
        font-weight: 500;
        cursor: pointer;
        background: var(--color-neutral-950);
        border: none;
        border-radius: 0;
      }
    }
  }
}
